.logout-container {
  width: 35%;
  background-color: #003a66;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-size {
  font-size:25px;
}
