<h1 class="text-center mt-3 mb-4 text-decoration-underline">Listado de Usuarios</h1>
<div class="container">
  <div class="card cardColor mb-2 border-dark" *ngFor="let user of userList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
    <div class="card-block row">
      <div class="card-body row align-items-center ">
        <div class="col ps-4">
          <h6 class="card-subtitle text-muted subtitle">Name</h6>
          <p class="card-text text-white">{{user.name}}</p>
        </div>
        <div class="col">
          <h6 class="card-subtitle text-muted subtitle">Surname</h6>
          <p class="card-text text-white">{{user.surname}}</p>
        </div>
        <div class="col">
          <h6 class="card-subtitle text-muted subtitle ">E-mail</h6>
          <p class="card-text text-white">{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalUsers"></ngb-pagination>
