<div class="auth-form container mt-5 justify-content-center pb-4 ">
  <form>
    <div class="text-center">
      <img class="mb-4 mt-4" src="https://i.gyazo.com/a715fdf79af75f49a15036f22026c4a5.png" alt="Hiberus">
      <h1 class="h2 mb-4 text-white fw-normal text-center">Iniciar Sesión</h1>
    </div>
    <div class="form-floating mb-4 text-center">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="form-floating mb-4">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div class="text-center">
      <button class="w-auto btn btn-lg btn-primary me-4" type="submit">Iniciar Sesión</button>
      <button class="w-auto btn btn-lg btn-primary" type="button" [routerLink]="['sign-up']">Registrarse</button>
    </div>

  </form>
</div>
